<ul class="list-group">
{{#each todos}}
    <h2>{{title}}</h2>
    <a href="/todo/{{id}}" class="list-group-item">{{title}}</a>
{{/each}}
</ul>
<a type="button" href="/todo/new" class="btn btn-default btn-primary">
    New Todo
</a>